@use "../utils/mixins";

#containerRgpd .conformiteRgpd {
  position: absolute !important;
  background-color: #00388f !important;
  left: 0 !important;
  bottom: -850px !important;
  color: white !important;
  padding: 32px !important;
  overflow: hidden !important;
  @include mixins.mobile375 {
    bottom: -800px !important;
  }
  @include mixins.tablet {
    bottom: -652px !important;
  }
  @include mixins.laptop {
    bottom: -472px !important;
  }
  @include mixins.xxl {
    width: 1145px !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    bottom: -493px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: 604px !important;
  }
  &__img {
    position: absolute !important;
    left: 87px !important;
    top: -71px !important;
    @include mixins.mobile {
      left: 192px !important;
      top: -70px !important;
    }
    @include mixins.tablet {
      left: 363px !important;
    }
    @include mixins.laptop {
      left: 615px !important;
    }
    @include mixins.xxl {
      left: 731px !important;
    }
  }
  &__span {
    font-size: 1.2em !important;
    font-weight: 500 !important;
    line-height: 1.4em !important;
    @include mixins.tablet {
      font-size: 1.45em !important;
    }
  }
  &__h2 {
    padding: 32px 0 !important;
    font-size: 2em !important;
    @include mixins.tablet {
      font-size: 3.2em !important;
    }
    @include mixins.xxl {
      padding: 0 0 16px !important;
    }
  }
  &__firstContent {
    font-size: 1.2em !important;
    @include mixins.tablet {
      font-size: 1.45em !important;
    }
    @include mixins.xxl {
      width: 56% !important;
      margin: 0 auto !important;
    }
  }
  &__secondContent {
    font-weight: bold !important;
    border-bottom: 2px white solid !important;
    margin-top: 30px !important;
    font-size: 1.2em !important;
    @include mixins.mobile {
      width: 80% !important;
      margin: 30px auto 0 !important;
    }
    @include mixins.tablet {
      width: 40% !important;
      font-size: 1.45em !important;
    }
    @include mixins.laptop {
      width: 30% !important;
    }
    @include mixins.xxl {
      font-size: 2.1em !important;
      width: 40% !important;
    }
  }
  &__containerCard {
    display: flex !important;
    flex-direction: column !important;
    gap: 32px !important;
    margin-top: 32px !important;
    @include mixins.laptop {
      flex-direction: initial !important;
      justify-content: center !important;
      gap: 10px !important;
    }
  }
  &__card {
    background-color: white !important;
    color: #00388f !important;
    border-radius: 10px !important;
    padding: 32px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    @include mixins.laptop {
      flex: 1 1 !important;
    }
    @include mixins.xxl {
      width: 25% !important;
      flex: initial !important;
    }
    &__p {
      font-size: 1.2em !important;
      @include mixins.tablet {
        font-size: 1.45em !important;
      }
    }
  }
}
