@use "../utils/variables";
@use "../utils/mixins";

#containerRgpd .contact {
  margin-top: 64px !important;
  text-align: center !important;
  &__container {
    @include mixins.laptop {
      display: flex !important;
    }
    &__left {
      &__img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        display: block !important;
      }
      @include mixins.laptop {
        flex: 1 1 !important;
      }
      @include mixins.xxl {
        flex: initial !important;
        width: 50% !important;
      }
    }
    &__right {
      text-align: center !important;
      padding: 32px 16px !important;
      background: #2480c1 !important;
      color: white !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column !important;
      @include mixins.xxl {
        align-items: initial !important;
        padding: 120px !important;
        width: 50% !important;
        flex: initial !important;
      }
      &__h2 {
        margin: 24px 0 !important;
        font-size: 2.4em !important;
        @include mixins.xxl {
          text-align: left !important;
        }
      }
      &__containerTop {
        display: flex !important;
        flex-direction: column !important;
        gap: 32px !important;
        @include mixins.laptop {
          flex-direction: initial !important;
        }
        & input {
          border: none !important;
          padding: 13.63px 0 9px 19px !important;
          @include mixins.laptop {
            flex: 1 1 !important;
          }
        }
      }
      &__email {
        margin: 32px 0 !important;
        border: none !important;
        padding: 13.63px 0 9px 19px !important;
        width: 100% !important;
      }
      &__submit {
        border: none !important;
        padding: 8px 16px !important;
        background: #00388f;
        color: white;
        margin-top: 32px;
        border-radius: 4px;
        @include mixins.xxl {
          display: block !important;
        }
      }
      &__containerSpan {
        display: flex !important;
        justify-content: center !important;
        gap: 32px !important;
        align-items: center !important;
        @include mixins.xxl {
          justify-content: initial !important;
        }
        &__hr {
          display: block !important;
          height: 2px !important;
          width: 80px !important;
          background: white !important;
          border: none !important;
        }
        &__p {
          font-size: 1.2em !important;
          @include mixins.tablet {
            font-size: 1.45em !important;
          }
        }
      }
      &__containerCheckbox {
        display: flex !important;
        align-items: center !important;
        gap: 32px !important;
        @include mixins.xxl {
          text-align: left !important;
        }
        &__input {
          border: none !important;
        }
        &__p {
          font-size: 1.2em !important;
          @include mixins.tablet {
            font-size: 1.45em !important;
          }
        }
      }
      @include mixins.laptop {
        flex: 1 1 !important;
      }
    }
  }
}
