@use "../utils/variables";
@use "../utils/mixins";

#containerRgpd .roleRgpd {
  position: relative !important;
  color: white !important;
  background-color: variables.$primary-color !important;
  text-align: center !important;
  padding: 66px 16px !important;
  margin-top: 100px !important;
  @include mixins.xxl {
    max-width: 1200px !important;
    width: 100% !important;
    margin: 245px auto 0 !important;
    text-align: left !important;
    padding: 16px 16px 66px 360px !important;
  }
  &__h2,
  &__firstContent {
    font-weight: bold !important;
  }
  &__firstContent,
  &__secondContent {
    line-height: 2 !important;
    font-size: 1.4em !important;
  }
  &__img {
    position: absolute !important;
    width: 90% !important;
    height: 200px !important;
    bottom: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    object-fit: cover !important;
    &::before {
      content: "" !important;
      position: absolute !important;
      top: -23px !important;
      left: -60px !important;
      width: 90% !important;
      height: 504px !important;
      background-color: #f8f8f8 !important;
      display: none !important ;
      @include mixins.xxl {
        display: block !important ;
      }
    }
    @include mixins.mobile {
      bottom: 62% !important;
    }
    @include mixins.tablet {
      bottom: 56% !important;
    }
    @include mixins.xxl {
      bottom: -40% !important;
      width: 31% !important;
      height: 504px !important;
      left: 12% !important;
    }
    &__imgBlock {
      display: block !important;
      width: 100% !important;
      height: 200px !important;
      object-fit: cover !important;
      z-index: 1 !important;
      position: relative !important;
      @include mixins.xxl {
        height: 504px !important;
      }
    }
  }
  &__span {
    font-size: 1.4em !important;
    margin-top: 60px !important;
    display: block !important;
    @include mixins.xxl {
      font-size: 1.6em !important;
    }
  }
  &__h2 {
    font-size: 2.6em !important;
    padding: 14px 0 !important;
    @include mixins.tablet {
      font-size: 4.2em !important;
    }
  }
  &__firstContent {
    padding-bottom: 20px !important;
    @include mixins.xxl {
      font-size: 2em !important;
    }
  }
  &__secondContent {
    @include mixins.xxl {
      font-size: 1.7em !important;
    }
  }
  &__textColor {
    background-color: #00388f !important;
    padding: 6px !important;
    font-size: 1em !important;
  }
}
