* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

#containerRgpd {
  font-size: 10px !important;
}

#containerRgpd .containerRgpd {
  padding: 60px 0 !important;
}
#containerRgpd .containerRgpd__h2, #containerRgpd .containerRgpd__p {
  text-align: center !important;
  line-height: 1.4 !important;
  font-weight: bold !important;
  padding: 0 16px !important;
}
#containerRgpd .containerRgpd__h2 {
  font-size: 2em !important;
  padding-bottom: 8px !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .containerRgpd__h2 {
    width: 45% !important;
    margin: 32px auto 0 !important;
    font-size: 3.3em !important;
  }
}
#containerRgpd .containerRgpd__p {
  font-size: 1.5em !important;
  font-weight: 500 !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .containerRgpd__p {
    font-size: 2.21em !important;
  }
}

#containerRgpd .roleRgpd {
  position: relative !important;
  color: white !important;
  background-color: #2480c1 !important;
  text-align: center !important;
  padding: 66px 16px !important;
  margin-top: 100px !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd {
    max-width: 1200px !important;
    width: 100% !important;
    margin: 245px auto 0 !important;
    text-align: left !important;
    padding: 16px 16px 66px 360px !important;
  }
}
#containerRgpd .roleRgpd__h2, #containerRgpd .roleRgpd__firstContent {
  font-weight: bold !important;
}
#containerRgpd .roleRgpd__firstContent, #containerRgpd .roleRgpd__secondContent {
  line-height: 2 !important;
  font-size: 1.4em !important;
}
#containerRgpd .roleRgpd__img {
  position: absolute !important;
  width: 90% !important;
  height: 200px !important;
  bottom: 70% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  object-fit: cover !important;
}
#containerRgpd .roleRgpd__img::before {
  content: "" !important;
  position: absolute !important;
  top: -23px !important;
  left: -60px !important;
  width: 90% !important;
  height: 504px !important;
  background-color: #f8f8f8 !important;
  display: none !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd__img::before {
    display: block !important;
  }
}
@media screen and (min-width: 425px) {
  #containerRgpd .roleRgpd__img {
    bottom: 62% !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .roleRgpd__img {
    bottom: 56% !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd__img {
    bottom: -40% !important;
    width: 31% !important;
    height: 504px !important;
    left: 12% !important;
  }
}
#containerRgpd .roleRgpd__img__imgBlock {
  display: block !important;
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  z-index: 1 !important;
  position: relative !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd__img__imgBlock {
    height: 504px !important;
  }
}
#containerRgpd .roleRgpd__span {
  font-size: 1.4em !important;
  margin-top: 60px !important;
  display: block !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd__span {
    font-size: 1.6em !important;
  }
}
#containerRgpd .roleRgpd__h2 {
  font-size: 2.6em !important;
  padding: 14px 0 !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .roleRgpd__h2 {
    font-size: 4.2em !important;
  }
}
#containerRgpd .roleRgpd__firstContent {
  padding-bottom: 20px !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd__firstContent {
    font-size: 2em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .roleRgpd__secondContent {
    font-size: 1.7em !important;
  }
}
#containerRgpd .roleRgpd__textColor {
  background-color: #00388f !important;
  padding: 6px !important;
  font-size: 1em !important;
}

#containerRgpd .dataRgpd {
  padding: 60px 16px 100px !important;
  text-align: center !important;
  background-color: #f1f6fc !important;
  position: relative !important;
}
@media screen and (min-width: 425px) {
  #containerRgpd .dataRgpd {
    padding-bottom: 120px !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd {
    padding-bottom: 148px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .dataRgpd {
    margin-top: 150px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd {
    padding: 110px 0 200px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd__container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 32px !important;
    max-width: 1200px !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
  #containerRgpd .dataRgpd__container__div {
    flex: 1 1 !important;
    text-align: left !important;
  }
}
@media screen and (min-width: 2560px) {
  #containerRgpd .dataRgpd__container {
    max-width: 1445px !important;
  }
}
#containerRgpd .dataRgpd__h2, #containerRgpd .dataRgpd__firstContent {
  line-height: 1.5 !important;
}
#containerRgpd .dataRgpd__firstContent, #containerRgpd .dataRgpd__secondContent {
  font-weight: 500 !important;
}
#containerRgpd .dataRgpd__h2 {
  font-weight: bold !important;
  font-size: 2.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__h2 {
    font-size: 2.88em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd__h2 {
    width: 73% !important;
  }
}
#containerRgpd .dataRgpd__firstContent {
  padding-top: 14px !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__firstContent {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd__firstContent {
    width: 75% !important;
  }
}
#containerRgpd .dataRgpd__hr {
  width: 106px !important;
  height: 2px !important;
  background-color: #2480c1 !important;
  border: none !important;
  margin: 14px auto !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd__hr {
    margin: 14px 0 !important;
  }
}
#containerRgpd .dataRgpd__secondContent {
  margin: 28px 0 38px !important;
  line-height: 1.5 !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__secondContent {
    font-size: 1.45em !important;
  }
}
#containerRgpd .dataRgpd__btn {
  border: 0;
  background-color: #333333 !important;
  color: white !important;
  padding: 14px 28px !important;
  display: flex !important;
  align-items: center !important;
  gap: 32px !important;
  margin: 0 auto !important;
}
#containerRgpd .dataRgpd__btn__p {
  font-size: 1.2em !important;
  line-height: 1.5 !important;
  font-weight: bold !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd__btn {
    margin: 0 !important;
  }
}
#containerRgpd .dataRgpd__circleSquare {
  margin-top: 114px !important;
  position: relative !important;
  font-weight: bold !important;
}
@media screen and (min-width: 425px) {
  #containerRgpd .dataRgpd__circleSquare {
    margin-top: 115px !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare {
    margin-top: 110px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .dataRgpd__circleSquare {
    flex: 1 1 !important;
    margin-top: 0 !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__img {
  width: 300px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__img {
    width: 400px !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__stars {
  background: white !important;
  border-radius: 50% !important;
  border: 66px solid #2480c1 !important;
  width: 132.2px !important;
  height: 132.2px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
#containerRgpd .dataRgpd__circleSquare__stars__container {
  width: 121.2px !important;
  height: 121.2px !important;
  border: 4px solid white !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute {
  position: absolute !important;
  width: 150px !important;
  height: 150px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute__span {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute__span {
    font-size: 1em !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--geo {
  width: 110px !important;
  height: 110px !important;
  background-color: white !important;
  right: 50px !important;
  top: 42px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--geo {
    width: 180px !important;
    height: 180px !important;
    right: 101px !important;
    top: -64px !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--tel {
  background: #2480c1 !important;
  color: white !important;
  width: 110px !important;
  height: 110px !important;
  left: 50px !important;
  top: 40px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--tel {
    width: 180px !important;
    height: 180px !important;
    left: 82px !important;
    top: -15px !important;
    right: 0;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--age {
  color: white !important;
  width: 90px !important;
  height: 90px !important;
  background: #333333 !important;
  top: 90px !important;
  right: -48px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--age {
    width: 100px !important;
    height: 100px !important;
    top: 126px !important;
    right: 28px !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--nom {
  color: white !important;
  width: 110px !important;
  height: 110px !important;
  background: #333333 !important;
  top: -180px !important;
  right: 50px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--nom {
    width: 120px !important;
    height: 120px !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--prenom {
  color: white !important;
  width: 110px !important;
  height: 110px !important;
  background: #2480c1 !important;
  top: -213px !important;
  left: -41px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--prenom {
    top: -270px !important;
    left: -41px !important;
    width: 110px !important;
    height: 110px !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--adresse {
  color: white !important;
  width: 110px !important;
  height: 110px !important;
  background: #333333 !important;
  left: 50px !important;
  top: -132px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--adresse {
    top: -152px !important;
    width: 120px !important;
    height: 120px !important;
  }
}
#containerRgpd .dataRgpd__circleSquare__circleAbsolute--status {
  background: white !important;
  width: 90px !important;
  height: 90px !important;
  right: 70px !important;
  top: -60px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .dataRgpd__circleSquare__circleAbsolute--status {
    width: 100px !important;
    height: 100px !important;
    right: -52px !important;
    top: 57px !important;
  }
}

#containerRgpd .conformiteRgpd {
  position: absolute !important;
  background-color: #00388f !important;
  left: 0 !important;
  bottom: -850px !important;
  color: white !important;
  padding: 32px !important;
  overflow: hidden !important;
}
@media screen and (min-width: 375px) {
  #containerRgpd .conformiteRgpd {
    bottom: -800px !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd {
    bottom: -652px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .conformiteRgpd {
    bottom: -472px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .conformiteRgpd {
    width: 1145px !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    bottom: -493px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: 604px !important;
  }
}
#containerRgpd .conformiteRgpd__img {
  position: absolute !important;
  left: 87px !important;
  top: -71px !important;
}
@media screen and (min-width: 425px) {
  #containerRgpd .conformiteRgpd__img {
    left: 192px !important;
    top: -70px !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd__img {
    left: 363px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .conformiteRgpd__img {
    left: 615px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .conformiteRgpd__img {
    left: 731px !important;
  }
}
#containerRgpd .conformiteRgpd__span {
  font-size: 1.2em !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd__span {
    font-size: 1.45em !important;
  }
}
#containerRgpd .conformiteRgpd__h2 {
  padding: 32px 0 !important;
  font-size: 2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd__h2 {
    font-size: 3.2em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .conformiteRgpd__h2 {
    padding: 0 0 16px !important;
  }
}
#containerRgpd .conformiteRgpd__firstContent {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd__firstContent {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .conformiteRgpd__firstContent {
    width: 56% !important;
    margin: 0 auto !important;
  }
}
#containerRgpd .conformiteRgpd__secondContent {
  font-weight: bold !important;
  border-bottom: 2px white solid !important;
  margin-top: 30px !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 425px) {
  #containerRgpd .conformiteRgpd__secondContent {
    width: 80% !important;
    margin: 30px auto 0 !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd__secondContent {
    width: 40% !important;
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .conformiteRgpd__secondContent {
    width: 30% !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .conformiteRgpd__secondContent {
    font-size: 2.1em !important;
    width: 40% !important;
  }
}
#containerRgpd .conformiteRgpd__containerCard {
  display: flex !important;
  flex-direction: column !important;
  gap: 32px !important;
  margin-top: 32px !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .conformiteRgpd__containerCard {
    flex-direction: initial !important;
    justify-content: center !important;
    gap: 10px !important;
  }
}
#containerRgpd .conformiteRgpd__card {
  background-color: white !important;
  color: #00388f !important;
  border-radius: 10px !important;
  padding: 32px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .conformiteRgpd__card {
    flex: 1 1 !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .conformiteRgpd__card {
    width: 25% !important;
    flex: initial !important;
  }
}
#containerRgpd .conformiteRgpd__card__p {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .conformiteRgpd__card__p {
    font-size: 1.45em !important;
  }
}

#containerRgpd .sanctionRgpd {
  margin-top: 900px !important;
  text-align: center !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 375px) {
  #containerRgpd .sanctionRgpd {
    margin-top: 850px !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd {
    margin-top: 700px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .sanctionRgpd {
    margin: 550px auto 0 !important;
    max-width: 1224px !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd {
    margin-top: 600px !important;
  }
}
#containerRgpd .sanctionRgpd__circleSquare {
  width: 133px !important;
  height: 133px !important;
  margin: 0 auto !important;
  background-color: #2480c1 !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#containerRgpd .sanctionRgpd__circleSquare::before {
  content: "";
  width: 118px !important;
  height: 118px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 4px solid white !important;
  position: absolute !important;
}
#containerRgpd .sanctionRgpd__h2 {
  margin-top: 23px !important;
  line-height: 1.5 !important;
  font-size: 2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__h2 {
    font-size: 3.2em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd__h2 {
    width: 50% !important;
    margin: 23px auto 0 !important;
  }
}
#containerRgpd .sanctionRgpd__firstContent {
  margin: 13px 0 !important;
  font-weight: 500 !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__firstContent {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd__firstContent {
    width: 70% !important;
    margin: 30px auto !important;
    font-size: 2em !important;
  }
}
#containerRgpd .sanctionRgpd__secondContent {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__secondContent {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd__secondContent {
    width: 50% !important;
    margin: 30px auto !important;
  }
}
#containerRgpd .sanctionRgpd__hr {
  width: 104px !important;
  margin: 0 auto !important;
  height: 2px !important;
  border: none !important;
  background: #2480c1 !important;
  margin-bottom: 13px !important;
}
#containerRgpd .sanctionRgpd__containerCard {
  display: flex !important;
  flex-direction: column !important;
  gap: 32px !important;
  text-align: center !important;
  color: white !important;
  margin-top: 32px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__containerCard {
    flex-direction: initial !important;
    text-align: left !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd__containerCard {
    justify-content: center !important;
  }
}
#containerRgpd .sanctionRgpd__containerCard__card {
  background: #333333 !important;
  padding: 32px 16px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__containerCard__card {
    flex: 1 1 !important;
    text-align: left !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd__containerCard__card {
    width: 35% !important;
    flex: initial !important;
  }
}
#containerRgpd .sanctionRgpd__containerCard__card__h3 {
  margin-bottom: 33px !important;
  font-size: 1.4em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__containerCard__card__h3 {
    font-size: 2em !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__containerCard__card__containerIcon {
    display: flex !important;
    align-items: center !important;
    gap: 32px !important;
  }
}
#containerRgpd .sanctionRgpd__containerCard__card__containerIcon__p {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__containerCard__card__containerIcon__p {
    font-size: 1.45em !important;
  }
}
#containerRgpd .sanctionRgpd__containerCard__card__containerIcon--margin {
  margin: 32px 0 !important;
}
#containerRgpd .sanctionRgpd__containerCard__card__containerIcon--secondMargin {
  margin-top: 32px !important;
}
#containerRgpd .sanctionRgpd__h3 {
  margin: 30px 0 !important;
  font-weight: 500 !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .sanctionRgpd__h3 {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .sanctionRgpd__h3 {
    font-size: 2.1em !important;
  }
}
#containerRgpd .sanctionRgpd__btn {
  background: #00388f !important;
  border: none !important;
  border-radius: 8px !important;
  color: white !important;
  padding: 16px 32px !important;
  font-size: 1.2em !important;
}

#containerRgpd .etapeRgpd {
  position: relative !important;
  background: #00388f !important;
  color: white !important;
  padding: 66px 16px !important;
  margin-top: 150px !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .etapeRgpd {
    max-width: 1224px !important;
    width: 100% !important;
    margin: 150px auto 0 !important;
    padding: 180px 16px 90px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd {
    max-width: 1188px !important;
    margin: 290px auto 0 !important;
    padding: 60px 0 60px 326px !important;
  }
}
#containerRgpd .etapeRgpd__img {
  position: absolute !important;
  width: 90% !important;
  height: 200px !important;
  bottom: 70% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  object-fit: cover !important;
}
#containerRgpd .etapeRgpd__img::before {
  content: "" !important;
  position: absolute !important;
  top: -60px !important;
  left: -60px !important;
  width: 90% !important;
  height: 504px !important;
  background-color: #f8f8f8 !important;
  display: none !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__img::before {
    display: block !important;
    left: -10% !important;
  }
}
@media screen and (min-width: 425px) {
  #containerRgpd .etapeRgpd__img {
    bottom: 62% !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .etapeRgpd__img {
    bottom: 69% !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__img {
    bottom: -25% !important;
    width: 31% !important;
    height: 504px !important;
    left: 10% !important;
  }
}
#containerRgpd .etapeRgpd__img__imgBlock {
  display: block !important;
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  z-index: 1 !important;
  position: relative !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__img__imgBlock {
    height: 504px !important;
  }
}
#containerRgpd .etapeRgpd__circlePrice {
  border-radius: 50% !important;
  background: transparent;
  position: absolute !important;
  width: 150px !important;
  height: 150px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-weight: bold !important;
  transform: rotate(15deg) !important;
  border: 4px solid #2480c1 !important;
  top: -135px !important;
  right: 20px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .etapeRgpd__circlePrice {
    width: 180px !important;
    height: 180px !important;
    top: -189px !important;
    right: 20px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .etapeRgpd__circlePrice {
    width: 200px !important;
    height: 200px !important;
    right: 33px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__circlePrice {
    width: 250px !important;
    height: 250px !important;
    right: -50px !important;
    top: -122px !important;
  }
}
#containerRgpd .etapeRgpd__circlePrice__div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2480c1 !important;
  width: 132px !important;
  height: 132px !important;
  border-radius: 50%;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  #containerRgpd .etapeRgpd__circlePrice__div {
    width: 154px !important;
    height: 154px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .etapeRgpd__circlePrice__div {
    width: 180px !important;
    height: 180px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__circlePrice__div {
    width: 230px !important;
    height: 230px !important;
  }
}
#containerRgpd .etapeRgpd__circlePrice__p {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .etapeRgpd__circlePrice__p {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .etapeRgpd__circlePrice__p {
    font-size: 1.5em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__circlePrice__p {
    font-size: 2em !important;
  }
}
#containerRgpd .etapeRgpd__h2 {
  margin: 60px 0 40px !important;
  font-size: 1.6em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .etapeRgpd__h2 {
    font-size: 2em !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .etapeRgpd__h2 {
    font-size: 2em !important;
    margin: 0 0 40px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__h2 {
    font-size: 3.4em !important;
  }
}
#containerRgpd .etapeRgpd__list {
  display: flex !important;
  flex-direction: column !important;
  gap: 22px !important;
}
#containerRgpd .etapeRgpd__list__iconList {
  display: flex !important;
  gap: 32px !important;
  align-items: center !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__list__iconList {
    font-size: 1.6em !important;
  }
}
#containerRgpd .etapeRgpd__list__iconList__icon {
  background: white !important;
  width: 39px !important;
  height: 39px !important;
  color: #333333 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  padding: 16px !important;
  font-weight: bold !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .etapeRgpd__list__iconList__icon {
    font-size: 1.5em !important;
  }
}
#containerRgpd .etapeRgpd__list__iconList__icon__span {
  display: inline-block !important;
}

#containerRgpd .podcast {
  margin-top: 64px !important;
  text-align: center !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast {
    max-width: 1224px !important;
    width: 100% !important;
    margin: 64px auto 0 !important;
    text-align: left !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 66px !important;
    margin: 80px 0 !important;
  }
}
#containerRgpd .podcast__left__span {
  color: #2480c1 !important;
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__left__span {
    font-size: 1.8em !important;
  }
}
#containerRgpd .podcast__left__h2 {
  font-size: 2em !important;
  margin: 8px 0 24px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__left__h2 {
    font-size: 2.2em !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .podcast__left__h2 {
    font-size: 3.4em !important;
  }
}
#containerRgpd .podcast__left__firstContent {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__left__firstContent {
    font-size: 1.45em !important;
  }
}
#containerRgpd .podcast__left__player {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  margin-top: 32px !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__left__player {
    justify-content: center !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .podcast__left__player {
    justify-content: initial !important;
  }
}
#containerRgpd .podcast__left__player__circle {
  background: #00388f !important;
  width: 80px !important;
  height: 80px !important;
  padding: 16px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
}
#containerRgpd .podcast__left__player__rangePlayer {
  width: 80% !important;
  height: 40px;
  background: #f1f6fc;
  margin-left: -10px;
  z-index: -1;
  display: flex;
  align-items: center;
  padding: 0 16px !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .podcast__left__player__rangePlayer {
    height: 50px !important;
  }
}
#containerRgpd .podcast__left__player__rangePlayer .timeline_container {
  width: 100% !important;
  height: 9px;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#containerRgpd .podcast__left__player__rangePlayer .timeline {
  position: relative;
  height: 9px;
  width: 80%;
  background: #2480c1;
}
#containerRgpd .podcast__left__player__rangePlayer .timeline::before {
  content: "";
  position: absolute;
  background: #2480c1;
  width: 24px;
  height: 24px;
  top: -6px;
  right: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#containerRgpd .podcast__left__player__rangePlayer .timeline::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
  top: -4px;
  right: -5px;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__left {
    flex: 1 1 !important;
  }
}
#containerRgpd .podcast__right {
  margin: 90px 0 0 !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__right {
    margin: 0 !important;
  }
}
#containerRgpd .podcast__right__imgPlaceExpert {
  position: relative !important;
}
#containerRgpd .podcast__right__imgPlaceExpert::before {
  content: " " !important;
  display: block !important;
  position: absolute !important;
  top: -26px !important;
  left: -5% !important;
  background-color: #333333 !important;
  width: 93% !important;
  height: 94% !important;
  z-index: -1 !important;
  border-radius: 50%;
}
@media screen and (min-width: 375px) {
  #containerRgpd .podcast__right__imgPlaceExpert::before {
    top: -20px !important;
    left: -2% !important;
    width: 85% !important;
    height: 94% !important;
  }
}
@media screen and (min-width: 425px) {
  #containerRgpd .podcast__right__imgPlaceExpert::before {
    left: 7% !important;
    width: 73% !important;
    height: 94% !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__right__imgPlaceExpert::before {
    top: -20px !important;
    left: 211px !important;
    width: 38% !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__right__imgPlaceExpert::before {
    top: -23px !important;
    left: 8px !important;
    width: 79% !important;
    height: 94% !important;
  }
}
#containerRgpd .podcast__right__imgPlaceExpert::after {
  content: url(../images/music.png) !important;
  position: absolute !important;
  top: -60px !important;
  left: 174px !important;
  background-color: #2480c1 !important;
  border-radius: 50% !important;
  box-shadow: #2480c1 0px 1px 4px, #2480c1 0px 0px 0px 3px !important;
  border: 4px solid white !important;
  width: 100px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100px !important;
}
@media screen and (min-width: 425px) {
  #containerRgpd .podcast__right__imgPlaceExpert::after {
    top: -40px !important;
    left: 240px !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__right__imgPlaceExpert::after {
    left: 420px !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__right__imgPlaceExpert::after {
    left: 250px !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .podcast__right__imgPlaceExpert::after {
    left: 338px !important;
  }
}
#containerRgpd .podcast__right__imgPlaceExpert__imgExpertTop {
  display: block !important;
  width: 70% !important;
  min-width: 300px;
  margin: 0 auto !important;
}
@media screen and (min-width: 576px) {
  #containerRgpd .podcast__right__imgPlaceExpert__imgExpertTop {
    width: 50% !important;
  }
}
@media screen and (min-width: 768px) {
  #containerRgpd .podcast__right__imgPlaceExpert__imgExpertTop {
    width: 40% !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__right__imgPlaceExpert__imgExpertTop {
    width: 84% !important;
  }
}
@media screen and (min-width: 1200px) {
  #containerRgpd .podcast__right__imgPlaceExpert__imgExpertTop {
    width: 84% !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .podcast__right {
    flex: 1 1 !important;
  }
}

#containerRgpd .contact {
  margin-top: 64px !important;
  text-align: center !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .contact__container {
    display: flex !important;
  }
}
#containerRgpd .contact__container__left__img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .contact__container__left {
    flex: 1 1 !important;
  }
}
@media screen and (min-width: 1400px) {
  #containerRgpd .contact__container__left {
    flex: initial !important;
    width: 50% !important;
  }
}
#containerRgpd .contact__container__right {
  text-align: center !important;
  padding: 32px 16px !important;
  background: #2480c1 !important;
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .contact__container__right {
    align-items: initial !important;
    padding: 120px !important;
    width: 50% !important;
    flex: initial !important;
  }
}
#containerRgpd .contact__container__right__h2 {
  margin: 24px 0 !important;
  font-size: 2.4em !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .contact__container__right__h2 {
    text-align: left !important;
  }
}
#containerRgpd .contact__container__right__containerTop {
  display: flex !important;
  flex-direction: column !important;
  gap: 32px !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .contact__container__right__containerTop {
    flex-direction: initial !important;
  }
}
#containerRgpd .contact__container__right__containerTop input {
  border: none !important;
  padding: 13.63px 0 9px 19px !important;
}
@media screen and (min-width: 1024px) {
  #containerRgpd .contact__container__right__containerTop input {
    flex: 1 1 !important;
  }
}
#containerRgpd .contact__container__right__email {
  margin: 32px 0 !important;
  border: none !important;
  padding: 13.63px 0 9px 19px !important;
  width: 100% !important;
}
#containerRgpd .contact__container__right__submit {
  border: none !important;
  padding: 8px 16px !important;
  background: #00388f;
  color: white;
  margin-top: 32px;
  border-radius: 4px;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .contact__container__right__submit {
    display: block !important;
  }
}
#containerRgpd .contact__container__right__containerSpan {
  display: flex !important;
  justify-content: center !important;
  gap: 32px !important;
  align-items: center !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .contact__container__right__containerSpan {
    justify-content: initial !important;
  }
}
#containerRgpd .contact__container__right__containerSpan__hr {
  display: block !important;
  height: 2px !important;
  width: 80px !important;
  background: white !important;
  border: none !important;
}
#containerRgpd .contact__container__right__containerSpan__p {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .contact__container__right__containerSpan__p {
    font-size: 1.45em !important;
  }
}
#containerRgpd .contact__container__right__containerCheckbox {
  display: flex !important;
  align-items: center !important;
  gap: 32px !important;
}
@media screen and (min-width: 1400px) {
  #containerRgpd .contact__container__right__containerCheckbox {
    text-align: left !important;
  }
}
#containerRgpd .contact__container__right__containerCheckbox__input {
  border: none !important;
}
#containerRgpd .contact__container__right__containerCheckbox__p {
  font-size: 1.2em !important;
}
@media screen and (min-width: 768px) {
  #containerRgpd .contact__container__right__containerCheckbox__p {
    font-size: 1.45em !important;
  }
}
@media screen and (min-width: 1024px) {
  #containerRgpd .contact__container__right {
    flex: 1 1 !important;
  }
}

/*# sourceMappingURL=main.css.map */
